@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-inter);
}

.prose {
  /* lighten the code text a bit to match because we adjusted the font-size */
  --tw-prose-code: var(--color-gray-700);

  code {
    /* Override the code that sets the code font size smaller because it makes
     * things look missaligned */
    font-size: inherit;

    /* Disable automaticaly adding backticks to inline code */
    &::after, &::before {
      content: unset;
    }
  }

  .infobox-content {
    /* The infobox is self-contained so we want to remove the outer margins */
    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}
