@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-nanum-coding), var(--font-nanum-coding-fallback), monospace;
}

.prose {
  /* lighten the code text a bit to match because we adjusted the font-size */
  --tw-prose-code: var(--color-gray-700);

  code {
    /* Override the code that sets the code font size smaller because it makes
     * things look missaligned */
    font-size: inherit;
    font-weight: 700;

    /* Disable automaticaly adding backticks to inline code */
    &::after, &::before {
      content: unset;
    }
  }

  .infobox-content {
    & > :last-child {
      margin-bottom: 0;
    }
  }

  .bright-title {
    div[data-bright-tab] {
      font-family: var(--font-mono) !important;
    }
  }

  .bright-title + pre {
    /* prevent the .prose styles from adding an awkward rounded corner below title */
    border-radius: 0;
  }
}

@utility svg-stroke-* {
  polygon {
    stroke: --value(--color-*);
  }
}
